{
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "trailingComma": "all",
    "printWidth": 90,
    "tabWidth": 4,
    "arrowParens": "always",
    "endOfLine": "lf",
    "overrides": [
        {
            "files": ["*.ts", "*.js", "*.tsx", "*.jsx"],
            "options": { "trailingComma": "all" }
        }
    ]
}
