.light {
    --color-layout: #e3e0da;
    --color-bg: #ffffff;
    --color-text: #3a3633;
    --color-primary: #efdffb;
    --color-secondary: #fef3d7;
    --color-error: #ef5350;
    --color-warn: #fac608;
    --color-success: #67c56b;
    --color-line: #eeece2;
}

.dark {
    --color-layout: #2e2e2e;
    --color-bg: #171717;
    --color-text: #ffffff;
    --color-primary: #39364d;
    --color-secondary: #a97644;
    --color-error: #c62828;
    --color-warn: #ffb74d;
    --color-success: #3f8843;
    --color-line: #3e3930;
}
